@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

.home {
  background-image: url("./pizzahead.jpg");
  color: white;
  height: 40vh;

  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.homeText {
  font-size: 4rem;
}
.pizzaButton {
  background-color: red;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;

  font-size: 1rem;
}
